
.services{
	background: url("Img/cooking-1013455_960_720.jpg");
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	font-weight:900;
	weight:20px;
  height:600px;

}


.image2{
	display:flex;
	justify-content:space-around;
  padding: 20px
  

  /*opacity: 0.5;*/
  
}
.image3{

	background-color:rgba(255,255,255,0.5);
	-moz-border-radius:10px 0;
-webkit-border-radius:10px 0;
border-radius:25px 0;

}

.image21{
	display: flex;
	flex-direction: column;
}

h3 {
	color: White;
	text-align: center;
}
p{
	color: White;
	text-align: center;
}

.header{
	background-image:url("Img/test.jpg");
}
.menu{
	margin-left: 50px;
	margin-right: 50px;
	display : flex;
	justify-content: space-around;
	align-items: center;
	}

.itemMenu a{
	text-decoration: none;
	color : white;
    font-family: 'Pacifico', cursive;
    border-radius:10px 10px;

}
.itemMenu a:hover{
	color: orange;
	background:white;

}
.itemMenu .home{
	color : orange;
}
.itemMenu .img{
	width: 50px;
	height: 50px;
}

.platDuJour{
	display:flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Courgette', cursive;

}
.arrow{
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	color:white;
	 border-radius:10px 10px;

}
.arrow:hover{
	color:orange;
	background:white;
}
.platDuJour .itemPlat{
	color: white;
	
}
.butt a{
	padding:5px;
/*arrondir les coins en haut à gauche et en bas à droite*/
    border-radius:10px 10px;
	border: 2px solid white;	
	color:white;
	text-decoration: none;
}
.butt a:hover{
	background:white;
	color:orange;

}
footer{
	background:orange;
}	
